server:
  port: '@server.port@'

management:
  security:
    flag: false
  metrics:
    export:
      statsd:
        enabled: false
        flavor: etsy
  endpoint.health.show-details: always

spring:
  application:
    name: '@project.name@'
  output:
    ansi:
      enabled: always
  elasticsearch:
    rest:
      uris: "http://localhost:9200"
info:
  version: '@project.version@'
  stage: dev

data:
  response:
    limit: 25

kafka:
  bootstrap-servers: localhost:9092
  client-id: deanonimus
  ssl:
    enabled: false
    trust-store-location: "test"
    trust-store-password: "test"
    key-store-location: "test"
    key-store-password: "test"
    key-password: "test"
    key-store-type: PKCS12
    trust-store-type: PKCS12
  consumer:
    group-id: "DeanonimusListener"
    enable-auto-commit: false
    auto-offset-reset: earliest
    max-poll-records: 20
    max-poll-interval-ms: 30000
    session-timeout-ms: 30000
    party-management:
      concurrency: 7
  topics:
    party-management:
      id: mg-events-party
      enabled: false
      consumer.group-id: "DeanonimusListenerPartyManagement"
